.header-placeholder {
  height: 60px;
  margin-bottom: 15px;

  @include screenWidth($minWidth: $screen_S) {
    height: 70px;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}