@import 'normalize.scss';
@import 'navigation.scss';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lobster');

$font-stack:    Helvetica, sans-serif;
$primary-color: #777;

body {
  font: 100% $font-stack;
  color: $primary-color;
  line-height: 1.6em;
}