@import 'normalize.scss';
@import 'navigation.scss';
//@import 'responsiveNavigation.scss';

$font-stack:    Helvetica, sans-serif;
$primary-color: #777;

body {
  font: 100% $font-stack;
  color: $primary-color;
  line-height: 1.6em;
}