@import 'normalize.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'columns.scss';
@import 'header.scss';
@import 'navigation.scss';
@import 'sendMessage.scss';
@import 'contacts.scss';
@import 'promo.scss';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lobster');


// Base scss styles
html {
  font-size: 62.5%; // 10px for use rem
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-width: 320px;
  //FOUC
  opacity: 1 !important;
  // http://caniuse.com/#feat=css-scroll-behavior
  // http://codepen.io/CSSKing/pen/OVRgKO
  scroll-behavior: smooth;
  // Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  color: $primary-color;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding-right: $containerIndent;
  padding-left: $containerIndent;

  @include screenWidth($minWidth: $screen_M) {
    padding-right: $containerIndentM;
    padding-left: $containerIndentM;
  }

  @include screenWidth($minWidth: $screen_L) {
    padding-right: $containerIndentL ;
    padding-left: $containerIndentL;
  }

  @include screenWidth($minWidth: $screen_XL) {
    padding-right: $containerIndentXL;
    padding-left: $containerIndentXL;
  }

  @include screenWidth($minWidth: $screen_XXL) {
    padding-right: $containerIndentXXL ;
    padding-left: $containerIndentXXL;
  }
}


a {
  cursor: pointer;
}


[class*=section-]:after {
  content: '';
  width: 100px;
  background-color: #b7b7bf;
  height: 1px;
  display: block;
  margin:0 auto;
}


.img-sprite-wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  & > i {
    position: absolute;
    transform: scale(2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.inline-svg-icon{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

// positioning
// size
// styles