.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: $navigationHeight;
  transition: height 0.7s;

  @include screenWidth($minWidth: $screen_M) {
    height: $navigationHeightM;
  }
}

.nav-logo {
  text-decoration: none;
  color: $primary-color;


  &:active, &:hover {
    color: $primary-active-color;
  }
  .logo-text {
    display: inline-block;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    vertical-align: middle;
  }
}

.nav-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #fafafa;
  border-top: 1px solid rgba(0, 0, 0, 0.16);

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: block;
      a {
        letter-spacing: 1px;
        color: #666;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        padding: 10px 10px;
        display: block;
      }
    }
  }

  &.visible {
    display: block;
    animation-name: slide-in;
    animation-duration: 0.1s;
  }

  @include screenWidth($minWidth: $screen_M) {
    border-top: 0;
    position: static;
    display: block;
    border-top: 0;

    ul {
      display: block;
      margin: 0 auto;
      li {
        display: inline-block;
        a {
          &:hover {
            color: #11beff;
          }
        }
      }
    }
  }
}

.burger {
  display: inline-block;
  cursor: pointer;
  padding: 2px;

  &:active {
    background: #ebebeb;
    border-radius: 10%;
  }

  @include screenWidth($minWidth: $screen_M) {
    display: none;
  }
}

@keyframes slide-in {
  from {
    top: -165%;
    z-index: -1;
    border: 0;
  }
  to { top: 100%; }
}