.container {
  padding: 0 15px;
  margin: 0 auto;
}

// nav menu

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  @include screenWidth($minWidth: $screen_M) {
    align-items: flex-end;
  }
}

.nav-logo {
  .logo-text {
    font-family: 'Lobster', cursive;
    font-size: 24px;
  }
}

.nav-menu {
  display: none;

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: block;
      a {
        text-decoration: none;
        &:hover {
          color: #11beff;
        }
      }
    }
  }

  @include screenWidth($minWidth: $screen_M) {
    display: block;

    ul {
      display: block;
      margin: 0 auto;
      li {
        display: inline-block;
      }
    }
  }
}

.burger {
  display: inline-block;
  cursor: pointer;
  padding: 2px;

  &:hover {
    background: #ebebeb;
    border-radius: 10%;
  }

  @include screenWidth($minWidth: $screen_M) {
    display: none;
  }
}