.teacher {
  .entry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
    //flex-direction: row;
    //flex-direction: column;

    .teacher__svg-icon {
      height: 50px;
      width: 50px;

      @include screenWidth($minWidth: $screen_M) {
        height: 80px;
        width: 80px;
      }
    }

    .entry__item_left {
      flex: 25%;
    }
    .entry__item_right {
      flex: 75%;
    }
    .entry__title {
      font-size: 18px;
      font-weight: bold;
    }
    .entry__description-list {
      margin: 0;
      .entry__description-item {
        margin-bottom: 10px;
      }
    }
  }
}